.about {
  display: flex;
  margin: 0 auto;
  margin-bottom: 95px;
  max-width: 1170px;
}

.about__year {
  height: 317px;
  width: 155px;
  background-image: url(../../img/year-desktop@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__container {
  max-width: 985px;
  margin-left: 25px;
}

.about__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: 'RobotoCondensed-Regular', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

.about__text {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

@media (min-resolution: $retina-dpi),
(min-resolution: $retina-dppx) {
  .about__year {
    background-image: url(../../img/year-desktop@2x.png);
  }
}

@media (max-width: $desktop-width) {
  .about {
    max-width: 720px;
    padding-bottom: 76px;
    margin-bottom: 0;
  }

  .about__year {
    height: 360px;
    width: 140px;
    background-position-x: 30%;
  }

  .about__container {
    max-width: 535px;
    margin-left: 46px;
  }

  .about__title {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 45px;
  }

  .about__text {
    padding-left: 3px;
    padding-bottom: 1px;
  }

  .about__more {
    font-size: 0;
  }

  .about__more::after {
    content: '..';
    font-size: 16px;
  }
}

@media (max-width: $tablet-width) {
  .about {
    min-width: 320px;
    margin-bottom: 0;
    padding-top: 31px;
  }

  .about__year {
    display: none;
  }

  .about__container {
    margin-left: 14px;
    margin-right: 5px;
  }

  .about__title {
    margin-bottom: 21px;
    font-size: 28px;
    line-height: 39px;
  }

  .about__text {
    margin-bottom: 38px;
    padding-right: 2px;
  }

  .about__text:last-of-type {
    margin-bottom: 22px;
  }
}
