.advantages {
  padding-top: 110px;
  margin-bottom: 80px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.advantages__list li {
  position: relative;
  width: 48.6%;
  min-height: 300px;
  margin-bottom: 30px;
  padding: 42px 44px;
  padding-right: 40px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}

.advantages__list li:nth-child(2n+2) {
  margin-left: auto;
}

.advantages__list li:hover {
  background-color: #00b2ff;
  border-color: #00b2ff;
  cursor: pointer;
}

.advantages__list li:hover .advantages__title,
.advantages__list li:hover .advantages__text {
  color: #ffffff;
}

.advantages__list li::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  height: calc(100% + 2px);
  width: 3px;
  background-color: #00b2ff;
}

.advantages__icon-container {
  min-height: 35px;
  margin-bottom: 20px;
}

.advantages__icon {
  display: block;
}

.advantages__icon use {
  fill: $main-color;
}

.advantages__list li:hover use {
  fill: #ffffff;
}

.advantages__title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  font-weight: normal;
  color: #00b2ff;
}

.advantages__text {
  font-family: "PTMono-Regular", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: $desktop-width) {
  .advantages {
    margin-bottom: 25px;
    padding-top: 55px;
  }

  .advantages__list {
    margin-left: 25px;
  }

  .advantages__list li {
    width: 345px;
    min-height: 232px;
    margin-right: 25px;
    margin-bottom: 30px;
    padding: 24px 19px 19px 27px;
  }

  .advantages__list li:nth-child(2n+2) {
    margin-right: 0;
  }

  .advantages__icon-container {
    min-height: 35px;
    margin-bottom: 6px;
  }

  .advantages__title {
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 38px;
    padding-bottom: 60px;
  }

  .advantages__list {
    min-width: 320px;
    margin-left: 0;
    padding: 0 14px;
  }

  .advantages__list li {
    width: 100%;
    min-height: 244px;
    margin: 0;
    padding-bottom: 23px;
  }

  .advantages__list li:nth-child(2) {
    padding-right: 10px;
  }

  .advantages__list li:not(:last-child) {
    margin-bottom: 20px;
  }

  .advantages__list li:nth-child(2n+1) {
    margin-right: 0;
  }

  .advantages__list li::before {
    width: 2px;
  }

  .advantages__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }

  .advantages__icon-container {
    margin-bottom: 12px;
  }
}
