.body__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body__start-container {
  min-height: 878px;
  background-image: url(../../img/waves.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#1B2D37;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: $desktop-width){
  .body__start-container {
    min-height: 685px;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: $tablet-width) {
  .body__start-container {
    min-height: 646px;
    padding-left: 14px;
    background-image: url(../../img/waves.svg), url(../../img/promo-triangles-mobile.svg);
    background-position: center,-70px -15px;
    }
}

