.button {
  min-width: 180px;
  padding: 14px 15px;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background-color: transparent;
}

.button--start {
  background-color: $main-color;
  margin-left: 93px;
  padding: 18px 45px;
  font-size: 16px;
  line-height: 19px;
  border: none;
}

.button--about {
  margin-top: 19px;
  color: $main-color;
  border-color: $main-color;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button--about:hover {
  min-width: 155px;
  margin-top: 15px;
  background-color: $main-color;
  color: #ffffff;
}

@media (max-width: $desktop-width) {
  .button--header {
    display: none;
  }

  .button--start {
    min-width: 380px;
    margin-left: 51px;
    padding: 18px 30px;
  }

  .button--about {
    min-width: 180px;
    margin-top: 16px;
    margin-left: 3px;
  }
}

@media (max-width: $tablet-width) {
  .button--start {
    min-width: 287px;
    margin-left: 3px;
    font-size: 16px;
    line-height: 19px;
  }

  .button--about {
    margin-top: 0;
  }
}
