
  .center {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .center--footer {
    display: flex;
  }


@media (max-width: $desktop-width) {
  .center {
    max-width: 770px;
  }
}

@media (max-width: $tablet-width) {
  .center {
    min-width: 320px;
  }
}
