
  .center {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 44px;
  }

  .center--footer {
    padding-left: 21px;
  }

  .center--footer-bot {
    display: flex;
    padding-right: 46px;
  }

  .center--form {
    display: flex;
    align-items: center;
  }

  .center--no-pad {
    padding: 0;
  }

@media (max-width: $desktop-width) {
  .center {
    max-width: 770px;
    padding-left: 0;
  }

  .center--footer {
    max-width: none;
    width: 100%;
  }

  .center--footer-bot {
    display: flex;
    max-width: none;
    padding-right: 24px;
  }
}

@media (max-width: $tablet-width) {
  .center {
    min-width: 320px;
  }

  .center--footer-bot {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
