.footer {
  position: relative;
  min-height: 316px;
  padding-top: 60px;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  background-color: #ffffff;
}

.footer__container {
  display: flex;
}

.footer h3 {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 0;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.footer__social-row {
  max-width: 220px;
  margin-left: 20px;
  margin-right: auto;
  padding-right: 20px;
}

.footer__social {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
}

.footer__social-item {
  margin-bottom: 5px;
}

.footer__nav-item:not(:last-child),
.footer__social-item:not(:last-child) {
  margin-right: 15px;
}

.footer__social-link {
  display: block;
  width: 27px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.footer__social-link:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px $main-color inset;
}

.footer__social-link--fb {
  background-image: url("../img/icon-facebook.svg");
}

.footer__social-link--o {
  background-image: url("../img/icon-class.svg");
}

.footer__social-link--vk {
  background-image: url("../img/icon-vk.svg");
}

.footer__nav-container {
  display: flex;
  width: 70%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
}

.footer__nav-list {
  @include list-reset;
  width: 290px;
  margin-right: 18px;
  margin-bottom: 10px;
  min-height: 100px;
}

.footer__nav-list:last-child {
  margin-right: 0;
}

.footer__nav-list a {
  color: #1b2d37;
  opacity: 0.5;
}

.footer__nav-list a:hover {
  opacity: 1;
}

.footer__adress-row {
  width: 415px;
  margin-left: auto;
}

.footer__adress-row p {
  margin: 0;
  padding: 0;
  color: #1b2d37;
  opacity: 0.5;
}

.footer__tel-list {
  @include list-reset;
}

.footer__tel-list a {
  color: #1b2d37;
  opacity: 0.5;
}

.footer__tel-list a:hover {
  cursor: pointer;
  opacity: 1;
}

.footer__bottom {
  margin-top: 47px;
  padding: 14px 0;
  border-top: 1px solid rgba(#626962, 0.2);
}

.footer__bottom p,
.terms,
.footer__sd {
  width: 223px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
}

.footer__bottom-link {
  color: #1b2d37;
}

.footer__bottom-link:hover {
  cursor: pointer;
  opacity: 1;
}

.terms:hover {
  cursor: pointer;
  opacity: 1;
}

.footer__bottom p:last-child {
  margin-left: auto;
  margin-right: 0;
}

p.footer__sd {
  width: 233px;
}

p.footer__sd--top {
  display: none;
  text-align: center;
}

p.footer__sd--bottom {
  margin-right: 140px;
}

@media (max-width: $desktop-width) {
  .footer {
    min-height: 456px;
    padding-top: 0;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__social-row {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    padding: 20px 14px 25px 25px;
    border-bottom: 1px solid rgba(#626962, 0.2);
  }

  .footer__social {
    max-width: 130px;
    min-height: 30px;
    margin: 0;
    margin-right: 9px;
  }

  .footer__nav-container {
    display: flex;
    width: 100%;
    padding: 32px 25px 11px 25px;
  }

  .footer__nav {
    max-width: none;
    flex-direction: column;
  }

  .footer__nav-list {
    margin-bottom: 0;
  }

  .footer__adress-row {
    width: 342px;
  }

  .footer__bottom {
    margin-top: 0;
    padding: 21px 0 24px 28px;
  }

  .footer__bottom .footer__rights {
    display: none;
  }

  p.footer__sd--top {
    display: block;
  }

  p.footer__sd--bottom {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .footer__social-row {
    flex-direction: column;
    min-height: 260px;
    padding: 46px 24px 47px 31px;
  }

  .footer__social {
    margin-top: 6px;
  }

  .footer h3 {
    position: relative;
    margin: 29px 0;
    padding-left: 15px;
    padding-right: 50px;
  }

  .footer h3:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .footer h3::after,
  .footer h3::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 17px;
    width: 16px;
    height: 1px;
    background-color: #c4c4c4;
  }

  .footer h3::before {
    transform: rotate(-90deg);
  }

  .footer__nav-container {
    flex-direction: column;
    padding: 0;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid rgba(#626962, 0.2);
  }

  .footer__nav-list {
    display: none;
    padding-left: 25px;
  }

  .footer__nav-list--show {
    display: block;
  }

  .footer__adress-row {
    width: 100%;
    margin-left: 0;
    padding-top: 6px;
    padding-bottom: 21px;
  }

  .footer__adress-row h3 {
    margin-top: 20px;
  }

  .footer__adress-row p {
    width: 270px;
    padding-left: 15px;
    padding-top: 4px;
  }

  .footer__tel-list {
    margin-bottom: 5px;
  }

  .footer__tel-item {
    padding-left: 15px;
  }

  .footer__bottom {
    padding: 0;
    padding-top: 28px;
  }

  .footer__bottom p,
  .terms {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__bottom p:last-child {
    margin: 0;
    margin-bottom: 20px;
  }

  .footer__bottom .footer__sd {
    top: 125px;
    left: 48%;
    margin-left: -110px;
  }
}
