.form-section {
  min-height: 667px;
  padding-top: 92px;
  padding-bottom: 97px;
  background-image: url("../img/form-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -30px;
  background-color: $main-color;
}

.form-section__plane {
  width: 512px;
  height: 336px;
  margin-left: auto;
  margin-right: 5px;
  background-image: url("../img/airplane@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-section__container {
  max-width: 577px;
  margin: 0 auto;
  flex-shrink: 0;
}

.form-section__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.form-section__sub-text {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: $desktop-width) {
  .form-section {
    min-height: 664px;
    padding-top: 80px;
    padding-bottom: 89px;
    background-image: none;
  }

  .form-section__plane {
    display: none;
  }

  .form-section__container {
    max-width: 595px;
    margin: 0 auto;
  }

  .form-section__text {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 45px;
  }

  .form-section__sub-text {
    padding-left: 5px;
    margin-bottom: 55px;
  }
}

@media (max-width: $tablet-width) {
  .form-section {
    min-height: 640px;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-right: 0;
    padding-left: 0;
  }

  .form-section__container {
    max-width: 100%;
    min-width: 290px;
    padding: 0 15px;
  }

  .form-section__text {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 39px;
  }

  .form-section__sub-text {
    padding-left: 0;
    margin-bottom: 25px;
  }
}
