.goods {
  padding-top: 90px;
  padding-bottom: 77px;
  background-color: $bgc-color;
}

.goods__container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}

.goods p {
  margin: 0;
  padding: 0;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.goods__link h3 {
  max-width: 170px;
  margin: 0;
  padding: 0;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.goods__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.goods__item {
  position: relative;
  width: 30.3%;
  padding: 50px 0;
  margin-left: 30px;
}

.goods__item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.goods__item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 116%;
  height: 100%;
  border: 3px solid $main-color;
  z-index: 1;
}

.goods__link {
  display: block;
  position: relative;
  min-height: 620px;
  padding: 52px 0 63px 43px;
  background-color: $bgc-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-webp .goods__link--prod,
.no-js .goods__link--prod {
  background-image: url("../img/1-item-desktop@1x.png");
}

.webp .goods__link--prod {
  background-image: url("../img/1-item-desktop@1x.webp");
}

.no-webp .goods__link--install,
.no-js .goods__link--install {
  background-image: url("../img/2-item-desktop@1x.png");
}

.webp .goods__link--install {
  background-image: url("../img/2-item-desktop@1x.webp");
}

.no-webp .goods__link--parts,
.no-js .goods__link--parts {
  background-image: url("../img/3-item-desktop@1x.png");
}

.webp .goods__link--parts {
  background-image: url("../img/3-item-desktop@1x.webp");
}

.goods__box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: $main-color;
}

.goods__box::before,
.goods__box::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 55%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
}

.goods__box::before {
  margin-bottom: -8px;
  margin-right: -8px;
  border-left-color: #ffffff;
  border-right: 0;
}

.goods__box::after {
  margin-bottom: -8px;
  margin-right: -6px;
  border-width: 7px;
  border-left-color: $main-color;
  border-right: 0;
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .no-webp .goods__link--prod,
  .no-js .goods__link--prod {
    background-image: url("../img/1-item-desktop@2x.png");
  }

  .webp .goods__link--prod {
    background-image: url("../img/1-item-desktop@2x.webp");
  }

  .no-webp .goods__link--install,
  .no-js .goods__link--install {
    background-image: url("../img/2-item-desktop@2x.png");
  }

  .webp .goods__link--install {
    background-image: url("../img/2-item-desktop@2x.webp");
  }

  .no-webp .goods__link--parts,
  .no-js .goods__link--parts {
    background-image: url("../img/3-item-desktop@2x.png");
  }

  .webp .goods__link--parts {
    background-image: url("../img/3-item-desktop@2x.webp");
  }
}

@media (max-width: $desktop-width) {
  .goods {
    padding-top: 50px;
    padding-bottom: 31px;
  }

  .goods p {
    max-width: 615px;
    font-size: 32px;
    line-height: 45px;
  }

  .goods__container {
    padding: 0 25px;
    padding-right: 22px;
  }

  .goods__list {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-bottom: 47px;
  }

  .goods__item {
    max-width: unset;
    width: 100%;
    padding: 47px 0;
    padding-bottom: 0;
    margin-left: 0;
  }

  .goods__item:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 47px);
  }

  .goods__link {
    min-height: 256px;
    padding: 41px 63px 63px 43px;
  }

  .no-webp .goods__link--prod,
  .no-js .goods__link--prod {
    background-image: url("../img/1-item-tablet@1x.png");
  }

  .webp .goods__link--prod {
    background-image: url("../img/1-item-tablet@1x.webp");
  }

  .no-webp .goods__link--install,
  .no-js .goods__link--install {
    background-image: url("../img/2-item-tablet@1x.png");
  }

  .webp .goods__link--install {
    background-image: url("../img/2-item-tablet@1x.webp");
  }

  .no-webp .goods__link--parts,
  .no-js .goods__link--parts {
    background-image: url("../img/3-item-tablet@1x.png");
  }

  .webp .goods__link--parts {
    background-image: url("../img/3-item-tablet@1x.webp");
  }

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    .no-webp .goods__link--prod,
    .no-js .goods__link--prod {
      background-image: url("../img/1-item-tablet@2x.png");
    }

    .webp .goods__link--prod {
      background-image: url("../img/1-item-tablet@2x.webp");
    }

    .no-webp .goods__link--install,
    .no-js .goods__link--install {
      background-image: url("../img/2-item-tablet@2x.png");
    }

    .webp .goods__link--install {
      background-image: url("../img/2-item-tablet@2x.webp");
    }

    .no-webp .goods__link--parts,
    .no-js .goods__link--parts {
      background-image: url("../img/3-item-tablet@2x.png");
    }

    .webp .goods__link--parts {
      background-image: url("../img/3-item-tablet@2x.webp");
    }
  }
}

@media (max-width: $tablet-width) {
  .goods {
    padding-bottom: 35px;
  }

  .goods__container {
    min-width: 320px;
    padding: 0 15px;
  }

  .goods p {
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 39px;
  }

  .goods__link {
    padding: 22px 63px 63px 35px;
  }

  .goods__list {
    padding-bottom: 30px;
  }

  .goods__item {
    padding: 30px 0;
    padding-bottom: 0;
  }

  .goods__item:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 30px);
  }

  .no-webp .goods__link--prod,
  .no-js .goods__link--prod {
    background-image: url("../img/1-item-mobile@1x.png");
  }

  .webp .goods__link--prod {
    background-image: url("../img/1-item-mobile@1x.webp");
  }

  .no-webp .goods__link--install,
  .no-js .goods__link--install {
    background-image: url("../img/2-item-mobile@1x.png");
  }

  .webp .goods__link--install {
    background-image: url("../img/2-item-mobile@1x.webp");
  }

  .no-webp .goods__link--parts,
  .no-js .goods__link--parts {
    background-image: url("../img/3-item-mobile@1x.png");
  }

  .webp .goods__link--parts {
    background-image: url("../img/3-item-mobile@1x.webp");
  }

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    .no-webp .goods__link--prod,
    .no-js .goods__link--prod {
      background-image: url("../img/1-item-mobile@2x.png");
    }

    .webp .goods__link--prod {
      background-image: url("../img/1-item-mobile@2x.webp");
    }

    .no-webp .goods__link--install,
    .no-js .goods__link--install {
      background-image: url("../img/2-item-mobile@2x.png");
    }

    .webp .goods__link--install {
      background-image: url("../img/2-item-mobile@2x.webp");
    }

    .no-webp .goods__link--parts,
    .no-js .goods__link--parts {
      background-image: url("../img/3-item-mobile@2x.png");
    }

    .webp .goods__link--parts {
      background-image: url("../img/3-item-mobile@2x.webp");
    }
  }
}
