.main {
  flex-grow: 1;
}

.main__container {
  padding: 0 5px;
  background-image: url("../img/triangles.svg");
  background-repeat: no-repeat;
}

@media (max-width: $desktop-width) {
  .main__container {
    background-position: 35% 0;
  }
}

@media (max-width: $tablet-width) {
  .main__container {
    background-position: 45% 155%;
  }
}
