.start {
  position: relative;
  padding-top: 173px;
}

.start__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 750px;
  padding-bottom: 182px;
  z-index: 1;
}

.start__image {
  position: absolute;
  top: 173px;
  right: -26px;
  width: 705px;
  height: 515px;
  background-image: url("../../img/bg-promo-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.start__title {
  margin: 0;
  margin-top: 58px;
  margin-bottom: 30px;
  padding: 0;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-size: 80px;
  line-height: 94px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.start__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  padding-left: 93px;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
}

.start__subtitle::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 66px;
  height: 2px;
  background: #ffffff;
}

.start__scroll-text {
  position: absolute;
  bottom: 35px;
  left: -39px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  transform: rotate(-90deg);
}

.start__button-text-m {
  display: none;
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .start__image {
    background-image: url("../../img/bg-promo-desktop@2x.png");
  }
}

@media (max-width: $desktop-width) {
  .start {
    padding-top: 105px;
    background-position: 170% 15%;
    background-repeat: no-repeat;
    background-size: 465px 340px;
  }

  .start__container {
    position: relative;
    max-width: 493px;
    padding-left: 88px;
    padding-bottom: 0;
  }

  .start__image {
    top: -15px;
    right: -208px;
    width: 470px;
    height: 385px;
  }

  .start__title {
    margin-top: 0;
    font-size: 60px;
    line-height: 70px;
  }

  .start__subtitle {
    width: auto;
    padding-left: 51px;
    margin-bottom: 54px;
    font-size: 18px;
    line-height: 28px;
  }

  .start__subtitle::after {
    width: 35px;
  }

  .start__scroll-text {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .start {
    padding-top: 219px;
  }

  .start__container {
    margin: 0 auto;
    padding-left: 15px;
  }

  .start__title {
    margin-bottom: 26px;
    font-size: 40px;
    line-height: 47px;
  }

  .start__subtitle {
    margin-bottom: 39px;
    padding-left: 52px;
    font-size: 16px;
    line-height: 25px;
  }

  .start__image {
    top: 24px;
    left: 42%;
    width: 301px;
    height: 220px;
    margin-left: -110px;
    background-image: url("../../img/circuit-mobile@1x.png");
    background-size: contain;
  }

  .start__button-text {
    display: none;
  }

  .start__button-text-m {
    display: inline;
  }
}
