.start {
  position: relative;
  padding-top: 173px;
}

.start__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 750px;
  z-index: 1;
}

.start__image {
  position: absolute;
  top: 173px;
  right: 0;
  width: 705px;
  height: 515px;
  background-image: url(../../img/bg-promo-desktop@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.start__title {
  margin: 0;
  margin-top: 58px;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 70px;
  line-height: 94px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.start__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 98px;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.start__subtitle::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 66px;
  height: 2px;
  background: #ffffff;
}

.start__scroll-text {
  position: absolute;
  bottom: 35px;
  left: -35px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  transform: rotate(-90deg);
}

.start__button-text-m {
  display: none;
}

@media (max-width: $desktop-width) {
  .start {
    padding-top: 116px;
    background-position: 170% 15%;
    background-repeat: no-repeat;
    background-size: 465px 340px;
  }

  .start__container {
    position: relative;
    max-width: 493px;
    padding-left: 63px;
  }

  .start__image {
    top: -60px;
    right: -180px;
    width: 420px;
    height: 385px;
  }

  .start__title {
    margin-top: 0;
    font-size: 60px;
    line-height: 70px;
  }

  .start__subtitle {
    width: auto;
    padding-left: 47px;
    font-size: 18px;
    line-height: 28px;
  }

  .start__subtitle::after {
    width: 33px;
  }

  .start__scroll-text {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .start {
    padding-top: 215px;
  }

  .start__container {
    padding-left: 15px;
  }

  .start__title {
    font-size: 40px;
    line-height: 47px;
  }

  .start__subtitle {
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 25px;
  }

  .start__image {
    top: 20px;
    left: 15px;
    width: 301px;
    height: 220px;
    background-image: url(../../img/circuit-mobile@1x.png);
    background-size: contain;
  }

  .start__button-text{
    display: none;
  }

  .start__button-text-m {
    display: inline;
  }

}
